@charset "UTF-8";
body {
background: #74ebd5;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ACB6E5, #74ebd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
} img {
	width: 50%;
	height: auto;
} .content img {
	width: 35%;
	height: auto;
} .card {
  background: linear-gradient(to right, #be93c5, #7bc6cc);
  color: #333;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 3%;
  margin: 8%;	
  transition: transform 0.2s ease-in;
} .card:hover {
  transform: translateY(-15px);
} .images-nav {
	width: 15%;
	display: flex;
	height: auto;
	justify-content: center;
	align-items: center;
	padding: 5% 0;
} .main-images-nav {
	max-width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
} .main-images-nav img {
	width: 6vw;
} .card {
	margin-top: -20%;
	margin-bottom: 50%;
} .main-images-nav {
	marign-bottom: 10%;
} .margin {
	margin: 0 10%;
	margin-top: 50%;
	margin-bottom: 40%;	
} .scrollimage {
	width: 10%;
	height: auto;
	margin: -10% 0;
}

/* MediaQueries - Devices Responsivity */
@media only screen and (max-width: 768px) {
	.main-images-nav {
		display: grid;
		margin-top: -15%;
	} .main-images-nav img {
		width: 100%;
		height: auto;
	} .header img {
		width: 75%;
	} .card {
		margin-left: 5%;
		width: 8vw;
	}
}
@media only screen and (max-width: 400px) {
	.card {
		display: grid;
	}
}
@media only screen and (max-width: 1200px) {
	.scrollimage img {
		visibility: hidden;
	}
}